.about {

    h1 {
        margin-bottom: 20px;
    }

    .about-nav{
        width: 70%;
        font-size: 1.3rem;
    }

    p {
        max-width: 80ch;
        text-align: start;
        font-size: 1.2rem;
    }
}