.book-add {
    position: relative;

    .modal-content {
        padding: 15px;
        position: absolute;
        background: white;
        max-width: 70%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        right: 0;
        left: 0;
        margin:0 auto;
        border-radius: 10px;
        z-index: 1;

        li {
            margin-bottom: 5px;
        }
    }
}